@import url("common.css");
@import url("slideshow.css");
@import url("side_menu.css");
@import url("staff_entry.css");
.announcements h4 {
    margin-top: 1em;
    color: rgb(208, 28, 41);
    cursor: pointer;
    font-family: "Libre Baskerville", "Times New Roman", serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 28px;
    text-decoration-color: rgb(208, 28, 41);
}

.announcements p {
    color: rgb(99, 99, 99);
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    margin-bottom: 1em;
}

#small-image-collection {
    overflow: auto;
    clear: both;
}

main strong {
    font-size: 2.2rem;
    color: #3d3d3d;
    line-height: 1.25;
    font-weight: 600;
}

main ul {
    margin-top: 1em;
    margin-left: 2em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

#class-schedule strong {
    color: rgb(85, 85, 85);
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
}

#class-schedule table {
    border-collapse: collapse;
}

#class-schedule tbody {
    display: table-row-group;
    vertical-align: middle;
}

#class-schedule td {
    border: 1px solid #ddd;
}



  
  /* Style announcements */
  .announcements {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
  }

  .announcements p{
    margin-top: 10px;
  }

  .announcements a{
    text-decoration: none;
  }

  .announcements a:hover {
    text-decoration: underline;
  }

  
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
  }

  .collapsible h3{
    color: #a51417;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
  }

  .collapsible p{
    color: rgb(109, 109, 109);
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 1px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 15px;
    display: none;
    overflow: hidden;
  }
  